/* ========================================
   전체 기본 설정
======================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px 20px;

    font-family: "Nanum Gothic", sans-serif;
    line-height: 1.7;
    color: #234f6b;
}


/* ========================================
   제목
======================================== */

h1 {
    margin-top: 0;
    padding: 15px;

    font-family: "Gowun Batang", serif;
    font-size: 40px;
    color: #ffffff;

    background-color: #168bc5;

}

h2 {
    margin-top: 0;
    padding-bottom: 8px;

    font-family: "Gowun Batang", serif;
    font-size: 28px;
    color: #168bc5;

    border-bottom: 2px solid #168bc5;
}


/* ========================================
   링크
======================================== */

a {
    color: #168bc5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ========================================
   전체 콘텐츠 박스
======================================== */

.container {
    width: 90%;
    max-width: 1000px;

    margin: 0 auto;
    padding: 30px;

    background-color: #ffffff;

    border: 2px solid #168bc5;
}


/* ========================================
   공통 영역
======================================== */

header,
main,
nav,
aside,
footer {
    margin-bottom: 25px;
}

header {
    color: #ffffff;
    text-align: center;
    background-color: #168bc5;
}

main {
    padding: 20px;
}

footer {
    padding-top: 15px;

    text-align: center;

    border-top: 1px solid #9dd4ef;
}


/* ========================================
   이미지
======================================== */

img {
    max-width: 100%;
}